@import '../mixins';

.app-layout {

  .nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}
.pw-nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; // On top of video
}


.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem;
  z-index: 2;

  .nav-logo img {
    height: 4rem;
  }

  .nav-menu-icon {
    display: none;
    background: none;
    border: none;

    img {
      height: 3.2rem;
    }
  }

  .nav-buttons-desktop {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    a {
      color: var(--midnight-color);
      text-decoration: none;

      i {
        margin-right: 1rem;
      }

      &:hover {
        color: var(--salomie-color);
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .nav-buttons-container {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-menu-icon {
      display: block;
    }

    .nav-buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 3.2rem 2.4rem;
      background: var(--primary-color);
      transform: translateY(-100%);
      transition: transform 0.4s ease;

      &.open {
        transform: translateY(0);
      }

      .nav-buttons-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        .nav-logo img {
          height: 3rem;
        }

        .nav-menu-close-btn {
          background: none;
          border: none;

          img {
            height: 2.4rem;
          }
        }
      }

      .nav-buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
          color: var(--midnight-color);
          font-size: 1.8rem;
          text-decoration: none;

          i {
            margin-right: 1rem;
          }

          &:hover {
            color: var(--salomie-color);
          }
        }
      }
    }
  }
}
