@use "./variables" as*;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  padding: 0 3.2rem;
  font-size: 2rem;
  border-radius: 6rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  line-height: 1;
}

.btn--primary {
  background: var(--primary-color);
  color: var(--white-color);
  border: 0.2rem solid var(--primary-color);

  &:hover {
    filter: brightness(90%);
  }
}

.btn--secondary {
  background: transparent;
  color: var(--midnight-color);
  border: 0.2rem solid var(--midnight-color);
}

.btn--secondary:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}


.btn--active {
  background: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: var(--midnight-color);
}


.btn-arrow {
  background: var(--white-color);
  display: inline-flex;
  height: 0.2rem;
  margin-left: 1rem;
  position: relative;
  top: 0.1rem;
  width: 2.4rem;
}

.btn-arrow::before,
.btn-arrow::after {
  content: "";
  position: absolute;
  right: -0.2rem;
  width: 1.4rem;
  height: 0.2rem;
  background: var(--white-color);
}

.btn-arrow::before {
  bottom: calc(100% + 0.2rem);
  transform: rotate(43deg);
}

.btn-arrow::after {
  top: calc(100% + 0.2rem);
  transform: rotate(-43deg);
}

.btn-arrow--dark {
  background: var(--midnight-color);
}

.btn-arrow--dark::before,
.btn-arrow--dark::after {
  background: var(--midnight-color);
}

@media (max-width: 768px) {
  .btn {
    font-size: 1.8rem;
    padding: 0 2.4rem;
    height: 4rem;
  }
}
