// src/styles/_variables.scss
:root {
  --primary-color: #4b31b4;
  --secondary-color: #e1dfff;
  --tertiary-color: #bfbeff;
  --grey-color: #f3f3f3;
  --white-color: #ffffff;
  --salomie-color: #fedf8e;
  --midnight-color: #181825;
  --courses-color: #110a39;
}
// Breakpoint variables
$bp-xs: 425px;
$bp-sm: 768px;
$bp-md: 960px;
$bp-lg: 1024px;
$bp-xlg: 1440px;
$bp-xl: 1920px;
