@use "./variables" as*;
@use "./components/WhatSetsMeApart";
@use "./typography" as*;
@use "./buttons" as*;
@use "./components/MyWork";
@use "./components/ContactCallout";
@use "./components/Hero";

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
.app-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.app-content{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
